*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #121317;
}
/* global style */
.bg_transparent{
  background: transparent;
}
.bg_24{
  background: #24262D!important;
}
.bg_prime{
  background: #7E3AF2;
}
.bg_dark_prime{
  background: #1A1C23;
}
.bg_cyan{
  background: #0E9F6E!important;
}
.text_cyan{
  color: #0E9F6E;
}
.text_yellow{
  color: #FACA15;
}
.bg_primary{
  background: #3F83F8!important;
}
.bg_yellow{
  background: #C27803!important;
}
.disable_btn{
  opacity: .5;
  cursor: not-allowed!important;
}
.text_sm{
  font-size: 1.23rem;
}
.text_lg{
  font-size: 1.5rem;
}
.font_size_4{
  font-size: 2rem;
}
.font_size_5{
  font-size: 5rem;
}